body, html {
    @apply text-primary;
    @apply font-sans;
}

body {
    background-image: linear-gradient(rgba($dark, 0.9), rgba($dark, 0.9)), url('/bg.jpg');

    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
}

h1 {
    font-size: 3rem;

    @apply leading-tight;
    @apply mb-8;
}

p {
    @apply leading-loose;
    + p {
        @apply mt-6;
    }
    a {
        @apply text-secondary;
    }
}

.user-view {
    @screen lg {
        @apply h-screen;

        overflow-x: hidden;
        display: grid;
            grid-template-columns: minmax(0, 300px) 1fr;
            grid-template-rows: 1fr min-content;
            gap: 0 0;
            grid-template-areas:
                "nav content"
                "nav footer";
    }

    nav {
        grid-area: nav;

        + div {
            @apply relative;
            @apply w-full;
            @apply py-12;

            grid-area: content;
            min-height: calc(100vh - 92px);
            
            .container {
                @apply py-12;
                
                @screen lg {
                    max-height: 100vh;
                    overflow: auto;
                }
            }
        }
    }

    .site-footer {
        @apply bg-dark;
        @apply py-3;
        @apply text-sm;

        grid-area: footer;
    }
}