body, html {
    @apply text-primary;
    @apply font-sans;
}

body {
    background-image: linear-gradient(rgba($dark, 0.9), rgba($dark, 0.9)), url('/bg.jpg');

    @apply bg-center;
    @apply bg-cover;
}

h1 {
    font-size: 3rem;

    @apply leading-tight;
    @apply mb-8;
}

p {
    @apply leading-loose;
    + p {
        @apply mt-6;
    }
}

.user-view {
    @apply h-screen;
    @screen lg {
        @apply flex;
    }

    nav + div {
        @apply w-full;
        @apply py-12;
        
        .container {
            @apply py-12;
            
            max-height: 100vh;
            @screen lg {
                overflow: auto;
            }
        }
    }
}