nav {
    @apply bg-dark;
    @apply w-full;
    @apply py-4;

    @screen lg {
        @apply py-12;

        max-width: 300px;
    }
}

@keyframes fade {
    0%, 100% { opacity: 0 }
    50% { opacity: 1 }
}

.nav-logo {
    @apply flex;
    @apply justify-between;

    &__image {
        max-width: 150px;

        @screen lg {
            max-width: 100%;
        }
    }
    &__toggle {
        @screen lg {
            @apply hidden;
        }

        @apply outline-none;

        span {
            @apply block;
            @apply bg-primary;

            width: 30px;
            height: 2px;
            + span {
                @apply mt-2;
            }
        }
    }
}

.nav-links {
    @screen lg {
        display: block !important;
    }
    @apply hidden;
    @apply pt-12;
}

.nav-link {
    @apply flex;
    @apply items-center;
    @apply py-1;

    min-height: 45px;
    svg {
        @apply mr-3;
    }
    &__live-now {
        @apply bg-green-500;
        @apply text-white;
        @apply flex;
        @apply items-center;
        @apply rounded-full;
        @apply py-1;
        @apply px-2;
        @apply ml-3;
    }
    &__live-icon {
        animation: fade 1.3s linear infinite;
    }
}

.nav-social-links {
    @apply pt-12;
    @apply flex;
    @apply justify-evenly;
}

.nuxt-link-exact-active {
    @apply text-secondary;
}